<div class="row" [formGroup]="dfForm" >
    <div class="col-md-6">
        <select 
            class="form-control"
            style="width: 100%;"
            (change)="changecat(null)" 
            [id]="dfFormField.key1"
            [name]="dfFormField.key"
            [formControlName]="dfFormField.key">
                <!--  <option value="" disabled selected>Select</option>
                <option value="Doctor ">Doctor</option>
                <option value="Sir ">Sir</option>
                <option value="Madame ">Madame</option>  -->
                <option
                    *ngFor="let masterOption of masterOptions" 
                    [ngValue]="masterOption.key">
                        {{ masterOption.value }}
                </option>
        </select>
    </div>
    <div class="col-md-6">
        <input 
            class="form-control"
            style="width: 100%;"
            type="text" 
            value={{suffix}}>
    </div>
</div>